probes:
  - name: traceroute
    type: plugin_mtr
    interval: 60s
    output:
      - plugin_logstash
    mtr_hosts:
      hosts:
        - host: 208.67.222.222
          name: OpenDNS

  - name: ping
    type: plugin_ping
    output:
      - plugin_logstash
    public_dns:
      hosts:
        - host: facebook.com
          name: Facebook
        - host: google.com
          name: Google
        - host: twitter.com
          name: Twitter

  - name: dns_check
    type: plugin_dig
    output:
      - plugin_logstash
    dig_hosts:
      hosts:
        - host: google.com
          name: Google
        - host: youtube.com
          name: Youtube
        - host: facebook.com
          name: Facebook
        - host: wikipedia.org
          name: Wikipedia
        - host: yahoo.com
          name: Yahoo
        - host: twitter.com
          name: Twitter
        - host: amazon.com
          name: Amazon
        - host: instagram.com
          name: Instagram
        - host: reddit.com
          name: Reddit
        - host: netflix.com
          name: Netflix

  - name: http_check
    type: plugin_http
    output:
      - plugin_logstash
    http_hosts:
      hosts:
        - host: https://www.google.com
          name: Google
        - host: https://www.youtube.com
          name: Youtube
        - host: https://www.facebook.com
          name: Facebook
        - host: https://www.wikipedia.org
          name: Wikipedia
        - host: https://www.yahoo.com
          name: Yahoo
        - host: https://www.twitter.com
          name: Twitter
        - host: https://www.amazon.com
          name: Amazon
        - host: https://www.instagram.com
          name: Instagram
        - host: https://www.reddit.com
          name: Reddit
        - host: https://www.netflix.com
          name: Netflix
        - host: http://login.innflux.com
          name: "Innflux login"

  - name: speedtest
    type: plugin_speedtest
    interval: 84600s
    output:
      - plugin_logstash

  - name: radius_auth
    type: plugin_radius
    interval: 60s
    output:
      - plugin_logstash

plugins:
  - name: plugin_mtr
    type: mtr
    count: 10
    interval: 3s
    output:
      - plugin_logstash

  - name: plugin_ping
    type: fping
    count: 10
    interval: 3s
    output:
      - plugin_logstash

  - name: plugin_dig
    type: dig
    count: 1
    interval: 5m # Dns servers can have a variety of TTL settings, every 5 minutes should be fast enough to catch things when they expire.
    auth_server: 8.8.8.8
    output:
      - plugin_logstash

  - name: plugin_http
    type: http_status
    count: 1
    interval: 1m
    output:
      - plugin_logstash

  - name: plugin_speedtest
    type: speedtest
    count: 1
    interval: 84600s
    output:
      - plugin_logstash

  - name: plugin_radius
    type: radius
    count: 1
    interval: 60s
    output:
      - plugin_logstash
    radius_config:
      server:
        - {{ radius_server1 }}
        - {{ radius_server2 }}
      port: 1815
      secret: '{{ radius_secret }}'
      username: '{{ radius_username }}'
      password: '{{ radius_password }}'

  - name: plugin_logstash
    type: logstash
    host: {{ logstash_address }}
    port: {{ logstash_port }}
    format: json
