output {
  if [type] == "rsyslog" {
    elasticsearch {
      hosts => [ '{{ upstream_elastic_ip }}:{{ upstream_elastic_port }}' ]
    }
  }
  elasticsearch {
    index => "logstash-%{+YYYY.MM.dd}"
    hosts => [ '{{ upstream_elastic_ip }}:{{ upstream_elastic_port }}' ]
    user => '{{ elasticsearch_user }}'
    password => '{{ elasticsearch_password }}'
  }
}
